body {
  font-family: "PT Sans";
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
}

main {
  background-image: url("../img/background.jpg");
  padding-bottom: 49px;
}

footer {
  background-image: url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  min-height: 72px;
}

.main-navigation {
  float: left;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  margin-left: 40px;
  display: inline-block;
}

.main-navigation li:nth-child(1) {
  margin-left: 20px;
}

.user-block {
  width: 140px;
  float: right;
}

.main-header a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  font-size: 30pt;
  line-height: 42pt;
  margin: 0;
}

h2 {
  font-size: 24pt;
  line-height: 30pt;
}


/* Картинка к юзер-блоку */

a.user-login {
  background-image: url("../img/login-icon.png");
  background-repeat: no-repeat;
  padding-left: 31px;
}


/* Убираем отступы у "хлебных крошек"
и у пунктов главного меню */

.breadcrumbs ul {
  padding-left: 0;
}


/* Убираем маркеры у "хлебных крошек" */

.breadcrumbs li {
  list-style-type: none;
  display: inline;
}


/* Активная страница в "хлебных кроошках */

.breadcrumbs>ul>li>a.breadcrumbs-active {
  color: #aba9a7;
}


/* Убираем отступы у списка "комплектация товара" */

.product-including ul {
  padding-left: 0;
}


/* Убираем маркеры у элементов списка "комплектация товара" */

.product-including li {
  list-style-type: none;
}


/* Добавляем декоративный "ромбик" к элементам списка "комплектация товара" */

.product-including span {
  background-image: url("../img/catalog-item/shape_2.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 19px;
}


/* Добавляем декоративный "ромбик" к "хлебным крошкам" */

.breadcrumbs a {
  background-image: url("../img/catalog-item/shape_2.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-left: 17px;
  padding-right: 30px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs ul>li:first-child>a {
  padding-left: 0;
}


/* Убираем у последнего элемента "хлебных крошек" декоративный "ромбик" */

.breadcrumbs ul>li:last-child>a {
  background-image: none;
}


/* Займемся фильтром: */

form.product-filter {
  display: block;
  float: left;
  margin: 0;
  width: 220px;
  min-height: 592px;
}

.product-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.product-filter legend {
  padding: 0;
}

.product-filter input {
  vertical-align: middle;
  margin: 0;
}

.product-filter label {
  font-size: 14px;
  display: inline-block;
  width: 124px;
}

.filter-activate-btn {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
  width: 112px;
  min-height: 43px;
}


/* Оформляем карточки товаров : */

div.product-catalog {
  float: right;
  width: 700px;
}

div.product-card {
  width: 220px;
  height: 286px;
  background-color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  line-height: 18px;
  margin-bottom: 20px;
}

.product-card:nth-child(3n+1) {
  /*  margin-left: 240px; */
  margin-right: 20px;
  float: left;
}

.product-card:nth-child(3n+2) {
  margin-right: 20px;
  float: left;
}

.product-card:nth-child(3n+3) {
  float: right;
}

a.product-picture {
  display: block;
  height: 165px;
}

div.product-description {
  width: 220px;
  height: 121px;
}

a.product-name {
  display: inline-block;
  width: 187px;
  height: 49px;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 17px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
  word-wrap: break-word;
}

span.model-name {
  text-transform: uppercase;
}

.buy-section {
  width: 187px;
  height: 43px;
  margin: 0;
  margin-left: 16px;
  margin-right: 17px;
}

.product-price {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 109px;
  height: 43px;
  padding-top: 12px;
  background-color: #e5e5e5;
  text-align: center;
}

.buy-btn {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 78px;
  height: 43px;
  padding-top: 12px;
  background-color: #000000;
  text-align: center;
}

a.buy-btn {
  color: #ffffff;
  text-decoration: none;
}


/* Пагинация */

div.pages-btns {
  height: 43px;
  width: 100%;
  float: left;
  margin-top: 45px;
}

.pages-btns a {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 43px;
  height: 43px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  padding-left: 16px;
  padding-top: 10px;
  margin-right: 7px;
}

a.pages-active {
  color: #000000;
  background-color: #ffffff;
}


/* Описываем элмементы страницы товара: */

.item-photos {
  float: left;
  width: 470px;
}

.item-photos img {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.item-photos-mini img {
  display: inline-block;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: -5px;
}

.item-photos-mini img:nth-child(3n+3) {
  margin-right: -4px;
}

.item-info {
  font-size: 14px;
  font-weight: bold;
  float: right;
  width: 390px;
}


/* Переходим к футеру : */

.main-footer,
.main-footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

a.find-us {
  text-decoration: underline;
}

.main-footer {
  min-height: 189px;
}

.footer-contacts {
  box-sizing: border-box;
  width: 310px;
  min-height: 189px;
  float: left;
  padding-top: 49px;
}

.footer-social p,
.footer-copyrights p {
  margin: 0;
}

.footer-social {
  box-sizing: border-box;
  width: 320px;
  min-height: 189px;
  float: left;
  text-align: center;
  padding-top: 49px;
}

.footer-copyrights {
  box-sizing: border-box;
  width: 140px;
  min-height: 189px;
  float: right;
  text-align: center;
  padding-top: 49px;
}

span.social-text {
  display: none;
}

.social-btn {
  background-color: #000000;
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 6px;
  margin-top: 14px;
  background-repeat: no-repeat;
}

.social-btn-vk {
  background-image: url("../img/social-sprite.png");
  background-position: 8px center;
}

.social-btn-fb {
  background-image: url("../img/social-sprite.png");
  background-position: -40px center;
}

.social-btn-inst {
  background-image: url("../img/social-sprite.png");
  background-position: -89px center;
}

.social-btn-new {
  display: none;
}

a.btn {
  box-sizing: border-box;
  display: block;
  width: 140px;
  min-height: 43px;
  background-color: #000000;
  margin-top: 14px;
  padding-top: 10px;
}
